/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 29, 2015, 8:05:27 AM
    Author     : kim
*/
#loginPageBody {
    background-color: gainsboro;
}
#loginButton {
    display:block;
    margin: 0 auto;
    margin-top: -10px;
}

iframe {
    width: 124px;
    text-align: center;
}

#wrapper {
    width: 70%;
    margin: 0 auto;
}

.emptySpace {
    height: 15px;
}
.emptySpaceLittle {
    height: 9px;
}

#espace{
   margin-bottom: 44px;
}
#logo {
    text-align: center;
font-family: 'Dosis', sans-serif;
color:darkslategray;
margin-top: 40px;
}

#servletLoaded {
    
   visibility: hidden;
}

.media-list {
    
    border: 1px solid ;
    border-color: lightgray;
    padding: 15px;
    border-radius: 4px;
}

#navBorder {
    
       border-bottom: 1px solid ;
       border-top: 1px solid ;
    border-color: lightgray;
    padding-bottom: 4px;
    padding-top: 4px;
    border-radius: 3px; 
}

.fb-login-button {
    top: 8px;
    
}

.centerHeader {
    text-align: center;
}

.nav nav-pills {
    
}

.media-body {
    background:whitesmoke;
}

.media {
   background:whitesmoke;  
}